<%= form_with url: false, id: "new-card-form" do |form| %>
  <%= form.label :front_text, "Front Text" %>
  <%= form.text_area :front_text, required: true %>

  <div class="new-card-controls">
    <%= link_to "Back", deck_path, id: "back-link" %>
    <%= form.submit "Next" %>
  </div>
<% end %>
